{
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "rules": {
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-console": "off"
  }
}
